<!DOCTYPE html>
<html>
   <head>
      
      <title>Kaalavastha</title>
      <link rel="icon" href="./img/cloud.png">
      <link rel="stylesheet" href="./css/styles.css">
      <script type="javascript" src="./js/app.js"></script>
   </head>
   <body>
    <div class="main-content">
    {{>header}}
    <img  class="portrait"  src="./img/passportjob.JPG" alt="I am S.Haripriya">
    <p> I am S. Haripriya, a post graduate from NIT Rourkela. I am Seeking for a challenging environment to showcase and improve my technical skills.</p>
   </div>
     {{>footer}}
   </body>
</html>