<!DOCTYPE html>
<html>
   <head>
      {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1" /> {% endcomment %}
      <title>Kaalavastha</title>
      <link rel="stylesheet" href="./css/styles.css">   
      <link rel="icon" href="./img/cloud.png">  
   </head>
   <body>
    <div class="main-content">
    <h1>{{title}}</h1>
    <h2>{{error}}</h2>
    </div>
    {{>footer}}
   </body>
</html>