<!DOCTYPE html>
<head>
    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1" /> {% endcomment %}
    <title>Kaalavastha</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/cloud.png">
</head>

<body>
    
<div class='main-content'>
<!--partials syntax>nameof the hbs partial in curly braces-->
<div class="header-img">
{{>header}}
</div>
<P>{{helptext}}</P>
</div>

{{>footer}}
</body>