<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    
<div class='main-content'>
<!--partials syntax>nameof the hbs partial in curly braces-->
<div class="header-img">
{{>header}}
</div>
<P>{{helptext}}</P>
</div>

{{>footer}}
</body>